## 1.1 Overview of a DataFrame

In [1]:
import pandas as pd

In [2]:
df18 = pd.read_csv("/Users/noyannebioglu/Documents/sales2018N.csv")
df19 = pd.read_csv("/Users/noyannebioglu/Documents/sales2019N.csv")
#Checking the base number of columns and rows.
print("number of rows and columns in sales18", df18.shape)
print("number of rows and columns in sales18", df19.shape)

number of rows and columns in sales18 (22795, 16)
number of rows and columns in sales18 (47239, 16)

In [3]:
df19.head()

,order_id,product_id,store_id,order_date,order_date_2,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,delivery_date_format1,delivery_date_format2
0,40911,P0392,S0001,1/1/2019,1-Jan-19,0.0,0.00,3.0,124.99,PR14,NaN,PR03,NaN,NaN,1/3/2019,3/1/2019
1,40912,P0018,S0071,1/1/2019,1-Jan-19,0.0,0.00,4.0,3.25,PR03,verylow,PR03,NaN,NaN,1/3/2019,3/1/2019
2,40913,P0565,S0096,1/1/2019,1-Jan-19,0.0,0.00,12.0,4.25,PR14,NaN,PR03,NaN,NaN,1/4/2019,4/1/2019
3,40914,P0372,S0121,1/1/2019,1-Jan-19,0.0,0.00,24.0,4.90,PR14,NaN,PR03,NaN,NaN,1/3/2019,3/1/2019
4,40915,P0543,S0101,1/1/2019,1-Jan-19,2.0,7.41,11.0,4.00,PR14,NaN,PR03,NaN,NaN,1/5/2019,5/1/2019

1.1.2 number of null values

In [4]:
df19.isnull().sum()

order_id                     0
product_id                   0
store_id                     0
order_date                   0
order_date_2                 0
sales                     8130
revenue                   8130
stock                     8130
price                      356
promo_type_1                 0
promo_bin_1              39258
promo_type_2                 0
promo_bin_2              46859
promo_discount_2         46859
delivery_date_format1        0
delivery_date_format2        0
dtype: int64

In [5]:
df18.isnull().sum()

order_id                     0
product_id                   0
store_id                     0
order_date                   0
order_date_2                 0
sales                        0
revenue                      0
stock                        0
price                     1134
promo_type_1                 0
promo_bin_1              19976
promo_type_2                 0
promo_bin_2              22795
promo_discount_2         22795
delivery_date_format1        0
delivery_date_format2        0
dtype: int64

## 1.1.2 Duplicate values

In [29]:
#number of duplicate values
len(df18)-len(df18.drop_duplicates())

0

In [30]:
len(df19)-len(df19.drop_duplicates())

0

## 1.1.4 Dropping columns

In [7]:
toDrop = ["promo_bin_1", "promo_bin_2", "promo_discount_2"]
df18.drop(toDrop, axis=1, inplace=True)

In [8]:
toDrop = ["promo_bin_1", "promo_bin_2", "promo_discount_2"]
df19.drop(toDrop, axis=1, inplace=True)

In [32]:
#Column names
df19.columns

Index(['order_id', 'product_id', 'store_id', 'order_date', 'order_date_2',
       'sales', 'revenue', 'stock', 'price', 'promo_type_1', 'promo_type_2',
       'delivery_date_format1', 'delivery_date_format2'],
      dtype='object')

In [10]:
#Number of duplicates
print(df19.duplicated().sum())

0

In [11]:
print(df18.duplicated().sum())

0

## 1.1.5 Dealing with missing values

In [33]:
#Is there any null values in Dataframe?
df19.isnull().values.any()

False

In [14]:
df18.isnull().values.any()

True

In [15]:
#Calculating the percentage of null data in each column
null_counts = df18.isnull().sum()

In [16]:
null_cts_df18 = null_counts / df18.shape[0] * 100

In [17]:
null_cts_df18

order_id                 0.000000
product_id               0.000000
store_id                 0.000000
order_date               0.000000
order_date_2             0.000000
sales                    0.000000
revenue                  0.000000
stock                    0.000000
price                    4.974775
promo_type_1             0.000000
promo_type_2             0.000000
delivery_date_format1    0.000000
delivery_date_format2    0.000000
dtype: float64

In [18]:
#Calculating the percentage of null data in each column
null_counts = df19.isnull().sum()

In [19]:
null_cts_df19 = null_counts / df19.shape[0] * 100 #The percentage of null data in columns

In [20]:
null_cts_df19

order_id                  0.000000
product_id                0.000000
store_id                  0.000000
order_date                0.000000
order_date_2              0.000000
sales                    17.210356
revenue                  17.210356
stock                    17.210356
price                     0.753615
promo_type_1              0.000000
promo_type_2              0.000000
delivery_date_format1     0.000000
delivery_date_format2     0.000000
dtype: float64

In [21]:
#Total NO of Missings
print("Number of missing values in DF >>>", df19.isna().sum().sum())

Number of missing values in DF >>> 24746

In [22]:
#Total NO of Missings
print("Number of missing values in DF >>>", df18.isna().sum().sum())

Number of missing values in DF >>> 1134

In [23]:
df18["price"].fillna(df18["price"].mean(), inplace=True)
df18["stock"].fillna(df18["stock"].mean(), inplace=True)
df18["revenue"].fillna(df18["revenue"].mean(), inplace=True)
df18["sales"].fillna(df18["revenue"].mean(), inplace=True)

In [24]:
df19["price"].fillna(df19["price"].mean(), inplace=True)
df19["stock"].fillna(df19["stock"].mean(), inplace=True)
df19["revenue"].fillna(df19["revenue"].mean(), inplace=True)
df19["sales"].fillna(df19["revenue"].mean(), inplace=True)

In [25]:
#Total NO of Missings
print("Number of missing values in DF >>>", df19.isna().sum().sum())

Number of missing values in DF >>> 0

In [26]:
print("Number of missing values in DF >>>", df18.isna().sum().sum())

Number of missing values in DF >>> 0

In [27]:
df19.describe()

          order_id         sales       revenue         stock         price
count  47239.00000  47239.000000  47239.000000  47239.000000  47239.000000
mean   64530.00000      0.727332      2.407092     15.225981     20.192285
std    13636.86902      1.865780     20.336725     52.089898     39.870367
min    40911.00000      0.000000      0.000000      0.000000      0.010000
25%    52720.50000      0.000000      0.000000      4.000000      4.250000
50%    64530.00000      0.000000      0.000000     10.000000     10.500000
75%    76339.50000      1.000000      2.407092     15.225981     21.900000
max    88149.00000     82.000000   2497.960000   3993.000000   1549.000000

## 1.1.6 Converting datatypes

In [35]:
#cols = data.columns[7:12]
#data[cols] = data[cols].apply(pd.to_datetime, errors='coerce')

In [43]:
#Changing with apply method
cols = df18.columns[[3,4,11,12]]
df18[cols] = df18[cols].apply(pd.to_datetime, errors='coerce')

In [51]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22795 entries, 0 to 22794
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               22795 non-null  int64
 1   product_id             22795 non-null  object
 2   store_id               22795 non-null  object
 3   order_date             22795 non-null  datetime64[ns]
 4   order_date_2           22795 non-null  datetime64[ns]
 5   sales                  22795 non-null  float64
 6   revenue                22795 non-null  float64
 7   stock                  22795 non-null  float64
 8   price                  22795 non-null  float64
 9   promo_type_1           22795 non-null  object
 10  promo_type_2           22795 non-null  object
 11  delivery_date_format1  22795 non-null  datetime64[ns]
 12  delivery_date_format2  22795 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(4), int64(1), object(4)
memory usage: 2.3+ MB

In [59]:
#Changing manually
df19["order_date_2"] = pd.to_datetime(df19["order_date_2"])
df19["order_date"] = pd.to_datetime(df19["order_date"])
df19["delivery_date_format1"] = pd.to_datetime(df19["delivery_date_format1"])
df19["delivery_date_format2"] = pd.to_datetime(df19["delivery_date_format2"])

In [60]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47239 entries, 0 to 47238
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               47239 non-null  int64
 1   product_id             47239 non-null  object
 2   store_id               47239 non-null  object
 3   order_date             47239 non-null  datetime64[ns]
 4   order_date_2           47239 non-null  datetime64[ns]
 5   sales                  47239 non-null  float64
 6   revenue                47239 non-null  float64
 7   stock                  47239 non-null  float64
 8   price                  47239 non-null  float64
 9   promo_type_1           47239 non-null  object
 10  promo_type_2           47239 non-null  object
 11  delivery_date_format1  47239 non-null  datetime64[ns]
 12  delivery_date_format2  47239 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(4), int64(1), object(4)
memory usage: 4.7+ MB

#### The format of "delivery_date_format2" date object was different that other dates, but pandas fixing the issue
#### when we converting strings to datetime object

In [69]:
#df["order_date_2"] = pd.to_datetime(df["order_date_2"], format="%m/%d/%Y")